/build-Labplot-*
/src/.qtc_clangd/*
/.qtc_clangd/*
/src/.qtc_clangd
/src/debug
/src/release
/build
CMakeCache.txt
CMakeFiles/*
CMakeLists.txt.user
Labplot_autogen/*
Makefile
cmake_install.cmake
/.cmake/*
/.qtc/package-manager
/Testing/Temporary/*
/*.ninja*
/*.exe
CMakeCache.txt.prev
qtcsettings.cmake
