/build-Labplot-*
/src/.qtc_clangd/.cache/clangd/index/*.idx
/src/.qtc_clangd
/src/debug
/src/release
/build
CMakeCache.txt
CMakeFiles/*
CMakeLists.txt.user
Labplot_autogen/*
Makefile
cmake_install.cmake
